extends layout.pug
include utils.pug

  block content
      h1 Your Collections
      div(class='collections-container')
        each collection in collectionsPast
          h2(id='collection-name')
            a(href=`/collections/${collection.id}` id='collection-link')=collection.name
        each collected in userCollectedPast
          h2(id='game-title')=collected.Game.title
          img(id='game-img' src=collected.Game.imgLink)

      div(class='collections-container')
        each collection in collectionsFuture
          div(id='collection-link-container')
            h2(id='collection-name')
              a(href=`/collections/${collection.id}` id='collection-link')=collection.name
        each collected in userCollectedFuture
          div(id='game-container')
            h2(id='game-title')=collected.Game.title
            img(id='game-img' src=collected.Game.imgLink)

      div(class='collections-container')
        each collection in collectionsPresent
          div(id='collection-link-container')
            h2(id='collection-name')
              a(href=`/collections/${collection.id}` id='collection-link')=collection.name
        each collected in userCollectedPresent
          div(id='game-container')
            h2(id='game-title')=collected.Game.title
            img(id='game-img' src=collected.Game.imgLink)
