extends layout.pug

block content
    div(class="games-container")
        img(class='game-img' href=game.imgLink)
        h2(class='game-name')= game.name
        div(class='game-details')
            div= game.yearOfRelease
            div= game.publisher
            div= game.genre
        div(class='description-container')
