extends layout.pug
include utils.pug

block content
    link(rel='stylesheet' href='/stylesheets/game-single.css')
    div(class="game-container")
        div(class="img-rate-coll-container")
            img(class='game-img' src=game.imgLink)
            div(class='collection-container')
                label(id="collection-label" for="collection") Collection
                select(id="collection-select" name="collection" value=body.collection)
                    option(value='') --Add to collection--
                    each collection in collections
                        option(value=collection selected=(collection === body.collection))= collection
        div(class='name-details-container')
            h2(class='game-title')= game.title
            div(class='game-details')
                div(class='all-ratings-container')
                    div(class="avg-rating-container")
                        div(class="stars"): div(class="percent" style=`width: ${100*avgRating/5}%;`)
                        if avgRating
                            div(class='rating')= `Gamers rated this game ${avgRating} stars!`
                        else
                            div(class='rating')= 'No ratings yet :('
                            //- a(class="reviews-link personal-rating" href=`/games/${game.id}/reviews/create`) Rate this game!
                    div(class="personal-rating-container")
                        if personalRating
                            a(class="personal-review-link personal-rating" href=`#${email}-review`) Your Review
                        else
                            a(class="reviews-link personal-rating" href=`/games/${game.id}/reviews/create`) Rate this game!
                div(class="detail publisher")= `Publisher: ${game.publisher}`
                div(class="detail release-date")= `Released ${game.yearOfRelease}`
                div(class="detail genre")= game.genre
                div(class='description-container')
                    h4(class='description-single') Description
                    p(class='description-paragraph')= game.description
    div(class="review-container")
        h2(class="review-header")= "Reviews"
        each review in reviews
            div(class="individual-review" id=`${email}-review`)
                h3(class="review-content") #{review.User.email} rated it: #{review.rating}/5
                span(class="review-content") #{review.User.email} has added this game to their:!{' '}
                each collection in collectionItems
                    if collection.userId == review.userId
                        span(class="review-content") #{collection.name}!{' '}
                span collections
                h3(class="review-content") "#{review.title}"
                div(class="review-text")
                    p(class="review-content") #{review.reviewText}
