extends layout.pug

//- block content
//-     div(class="games-container")
//-         each game in games
//-             h2(class='game-name')= game.title
//-             div(class='game-details')
//-                 div= game.yearOfRelease
//-                 div= game.publisher
//-                 div= game.genre


block content
    div(class="headerGames")
        h1= "Popular Games"
    div(class="games-container")
        each game in games
            div(id= "overallGame")
                div(class="imageDiv")
                    a(href=`/games/${game.id}`)
                        img(src= game.imgLink class="game-image" id="hoverTarget")
                div(class="gameTitle")
                    a(href=`/games/${game.id}` class="gameTitleLink" id="hoverTarget") #{game.title}
                //- div(class="description") #{game.description}
                div(class="pub") #{game.publisher}
                div(class="yOR") #{game.yearOfRelease}



        //- table(class="games-table")
        //-     thead
        //-         tr
        //-             th= "Title"
        //-             th= "Description"
        //-             th= "Genre"
        //-             th= "Creator"
        //-             th= "Year Released"
        //-     tbody
        //-         tr
        //-             each game in games
        //-                 td= game.title
        //-                     img(src= game.imgLink class="game-image")

        //-                 td= game.description
        //-                 td= game.genre
        //-                 td= game.publisher
        //-                 td= game.yearOfRelease
